body {
  background-color: #e8d8c4;
}

/* styles.css */

.fixed-button {
  position: fixed;
  bottom: 20px; /* Adjust this value for desired bottom spacing */
  right: 20px; /* Adjust this value for desired right spacing */
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.3rem;
}
